{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/09d21e6cd0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'media/icon.png' %}" type="image/x-icon">
    <script src="{% static 'JS/forgotpass.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/nav.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/forgot-password.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/signin.css' %}">

    <style>
        nav ul li #signin:hover{
            color: #212A3E;
        }
    </style>
    <title>Weblog</title>
</head>
<body>
    <nav>
        <img src="{% static 'media/New blog.png' %}" alt="" id="web-logo">

        <ul id="nav-list">
            <li class="direct">
                <a href="../">Home</a>
            </li>

            <li class="direct">
                <a href="../WriteBlog"><img src="{% static 'media/writing.png' %}" alt=""> Write</a>
            </li>

            {% if session %}
            <li onmouseover="showPostLink()" onmouseout="hidePostLink()">
                <div class="profile">
                    <img src="{% static 'media/User.png' %}" id="profileimg">
                    <ul id="profileul">
                        <li><a href="../myblogs/">Your Posts</a></li>
                    </ul>

                </div>
            </li>

            {% else %}

            <li class="direct">
                <a id="signin" onclick="showForm()">Sign In</a>
            </li>

            {% endif %}
        </ul>

        <i class="fa-solid fa-bars" onclick="showNavigation()" id="bars"></i>

        <i class="fa-sharp fa-solid fa-xmark" onclick="hideNavigation()" id="cross"></i>

    </nav>


    <section id="fp">
        <div class="container">

            <form class="forgotpass">
                {% csrf_token %}
                <h2>Forgot Password</h2>
                Email <br>
                <input type="email" name="email" id="email" placeholder="Enter mail" required><br>
                <input type="button" value="Send OTP" onclick="sendOTP()">
            </form>

            <form class="OTP">
                {% csrf_token %}
                <h2>Enter OTP</h2>
                <div class="iotp">
                    <input type="text" name="" class="otpclass" id="one" maxlength="1" oninput="document.getElementById('two').focus()">
                    <input type="text" name="" class="otpclass" id="two" maxlength="1" oninput="document.getElementById('three').focus()">
                    <input type="text" name="" class="otpclass" id="three" maxlength="1" oninput="document.getElementById('four').focus()">
                    <input type="text" name="" class="otpclass" id="four" maxlength="1" oninput="document.getElementById('five').focus()">
                    <input type="text" name="" class="otpclass" id="five" maxlength="1" oninput="document.getElementById('six').focus()">
                    <input type="text" name="" class="otpclass" id="six" maxlength="1" oninput="verifyOTP()">
                </div>
                <p>OTP has been sent to your mail</p>
            </form>

            <form action="./update-password/" method="post" class="updatepass">
                {% csrf_token %}
                <input type="hidden" name="user_email" id="user_emailupdate">
                Enter new password
                <input type="password" name="useremail" id="newpass" placeholder="Enter password"><br>
                Confirm password
                <input type="password" name="userpass" id="confirmpass" placeholder="Confirm Password">
                <br>
                <input type="button" onclick="submitNewPassword()" value="Save Password">
            </form>

        </div>
    </section>


    <section class="signin signup">
        <div class="sign-container">
            <form action="../loginuser/" method="post" id="sign-in">
                {% csrf_token %}
                Email
                <img src="{% static 'media/Email.png' %}" alt="" style="left: -33px;">
                <input type="email" name="useremail" id="emailid" placeholder="someone@mail.com" required><br><br>
                Password
                <img src="{% static 'media/Lock.png' %}" alt="">
                <input type="password" name="userpass" id="password" placeholder="Enter Password" required><br>
                <a href="./forgot-password" class="forgotpass">Forgot Password?</a><br>
                <br>
                <input type="submit" value="Sign In"><br><br>
                <p>Don't have an account? <button id="linksignup" onclick="changesign()">Sign up</button></p>
            </form>

            <form action="../registeruser/" method="post" id="signup">
                {% csrf_token %}
                Name <br>
                <input type="text" name="user-name" id="username" placeholder="Enter your name" required>
                Email
                <img src="{% static 'media/Email.png' %}" alt="" id="mailimg">
                <input type="email" name="useremail" id="emailid" placeholder="someone@mail.com" required><br>
                Password
                <img src="{% static 'media/Lock.png' %}" alt="" id="lockimg">
                <input type="password" name="userpass" id="password" placeholder="Enter Password" required><br>
                <br>
                <input type="submit" value="Sign Up">

            </form>
        </div>
        <i class="fa-sharp fa-solid fa-xmark" id="sign-cross" onclick="closeSignIn()"></i>

    </section>

</body>
</html>