/* Signin SignUp Form and Container */

.signin{
    width: 100%;
    position: fixed;
    top: 80px;
    height: calc(100vh - 80px);
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.sign-container{
    width: 360px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    display:block;
    overflow: hidden;
}

.sign-container #sign-in, #signup{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.sign-container #sign-in{
    position: relative;
    transition: 0.4s;
}

.sign-container #signup{
    position: relative;
    transition: 0.4s;
    top: -320px;
    right: calc(-100% - 40px);
}

.sign-container #sign-in input, #signup input{
    width: 100%;
    font-size: 1rem;
    border-radius: 7px;
    padding: 7px;
    outline: none;
    border: 2px solid #9BA4B5;
    padding-left: 50px;
    box-sizing: border-box;
}

.sign-container #sign-in img, #signup img{
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    bottom: -38px;
    left: -65px;
}

#sign-in img:nth-child(1), #signup img:nth-child(1){
    left: -33px;
}

.sign-container #sign-in .forgotpass, #signup .forgotpass{
    float: right;
    text-decoration: none;
    color: dodgerblue;
}

.sign-container #sign-in input[type='submit'], #signup input[type='submit']{
    background-color: #212A3E;
    color: #F1F6F9;
    padding: 7px;
    border-color: #212A3E;
}

.sign-container #sign-in p{
    width: 100%;
    text-align: center;
}

#sign-cross{
    position: absolute;
    font-size: 1.5rem;
    color: white;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

#linksignup{
    color: dodgerblue;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

#signup input[type='text']{
    text-align: center;
    padding: 7px;
}

#signup #mailimg{
    left: -33px;
}

@media (max-width: 920px){
    .signin{
        top: 60px;
        height: calc(100vh - 60px);
    }
    .sign-container{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    #sign-cross{
        color: #212a3e;
    }
}