#fp{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: transparent;
    position: relative;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}

.container{
    min-width: 300px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 1px 3px 2px rgb(184, 184, 184), -1px 0px 2px rgb(184, 184, 184);
}

.container *{
    display: block;
}

.container h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.container input{
    width: 100%;
    padding: 7px 14px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    outline: none;
    border: 2px solid #9BA4B5;
    font-size: 1rem;
}

.forgotpass, .OTP, .updatepass{
    position: relative;
    transition: 0.4s;
}

.container input[type='button']{
    border-color: #212A3E;
    background-color: #212A3E;
    color: #F1F6F9;
}

.OTP{
    display: none;
}

.OTP .iotp{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-items: center;
}

.OTP input{
    width: 40px;
    height: 40px;
    display: inline;
    font-size: 1rem;
    padding: 2px;
}

.OTP p{
    text-align: center;
}

.updatepass{
    display: none;
}

.updatepass input[type='submit']{
    background-color: #212A3E;
    border-color: #212A3E;
    color: #F1F6F9;
}

@media(max-width: 920px){
    #fp{
        height: calc(100vh - 60px);
        top: 60px
    }

    .container{
        width: 100%;
        height: calc(100vh - 60px);
        border-radius: 0;
        box-sizing: border-box;
    }
}



