body{
    background-color: white;
}

.writingsec{
    width: 100%;
    min-height: calc(100vh - 80px);
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.writingsec .editor{
    width: 60px;
    height: 360px;
    background-color: #f1f6f9;
    border-radius: 8px;
    position: fixed;
    z-index: 10;
    left: 100px;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.writingsec .editor button{
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
    background-color: transparent;
    color: #212a3e;
    border: none;
    outline: none;
    font-family: 'Prompt', sans-serif;
    transition: 0.3s;
    display: inline;
}

.writingsec .editor button:hover{
    background-color: #212a3e;
    color: #f1f6f9;
}

#colorpicker{
    width: 60%;
    height: 15px;
    background-color:  transparent;
    position: absolute;
    bottom: 10px;
    left: 12px;
    right: 8px;
    border: none;
    outline: none;
}

form{
    width: 60%;
    text-align: center;
    position: relative;
}

form *{
    font-family: 'PT Serif', serif;
    outline: none;
    border: none;
}

form #title{
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 3rem;
    box-sizing: border-box;
}

form .div{
    width: 90%;
    height: 250px;
    margin-top: 30px;
    display: flex;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid #9BA4B5;
}

form #imageicon{
    width: 150px;
    height: 150px;
}

form #imageinput{
    z-index: 10;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 103px;
    height: 250px;
    margin-top: 30px;
    opacity: 0;
}

form #blogcontent{
    text-align: left;
    margin: 20px;
    padding: 10px;
    font-size: 1.1rem;
}

@media(max-width: 920px){
    .writingsec{
        height: calc(100vh - 60px);
        top: 60px;
    }

    .writingsec .editor{
        position: fixed;
        flex-direction: row;
        width: 100%;
        height: 60px;
        left: 0;
        bottom: 4%;
        border-radius: 0;
        z-index: 5;
    }

    .editor .color{
        text-align: center;
        vertical-align: middle;
    }

    .editor .color input{
        background-color: red;
        width: 30px;
        height: 15px;
        position: relative;
        bottom: 0;
        left: 0;
    }

    #colorpicker{
        position: fixed;
        width: 30px;
        height: 15px;
        bottom: 9px;
        left: calc(100% - calc(100% / 12) - 15px);
        right: 0;
    }

    .writingsec .editor button{
        width: calc(100% / 6);
        height: 60px;
    }

    form{
        width: 100%;
    }

    form .div{
        height: 200px;
    }

    form #imageicon{
        width: 100px;
        height: 100px;
    }

    form #imageinput{
        height: 200px;
    }
}